html {
    background: var(--MainBG);
}

body {
    margin: 0;
    background-color: unset;
    // background: var(--MainBGGrad);
    color: var(--cardColor);
    max-width: 1440px;
    margin: 0 auto;
}

.nav-header {
    padding-left: 0;

    h1 {
        margin-left: 0;
    }
}

h1 {
    color: hsl(0, 0%, 100%);
}
h2 {
    color: hsl(0, 0%, 92%);
}
h3 {
    color: hsl(0, 0%, 84%);
}
h4 {
    color: hsl(0, 0%, 76%);
}

article {
    h2, h3.subsection-title {
        font-size: 2.3rem;
        background-color: #c2e4ff;
        margin-bottom: 0;
        padding: 0.2rem 1rem;
    
        + .name {
            margin-top: 0rem;
        }
    }

    pre.prettyprint {
        background: #efefef;;
        padding: 3em 3rem;
        border-radius: var(--borderRad);
    }
    
    h4.name {
        font-size: 1.8rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 40%;
            height: 4px;
            background: #ffc800;
            left: 0;
            bottom: -0.3rem;
        }
    }
}

*:empty() {
    margin: 0;
    padding: 0;
}

.page-title {
    font-family: "Major Mono Display", monospace;
    color: #fff;
    margin: 28px;
    background: var(--cardBG);
    padding: 2rem;
    border-radius: var(--borderRad);
    box-shadow: var(--shadow-elevation-medium);
}

p {
    margin-bottom: 0;
}
section {
    background-color: var(--cardBG);
    box-shadow: var(--shadow-elevation-medium);
    margin: 28px;
    border-radius: var(--borderRad);
}

.definition {
    position: relative;

    .details {
        margin: 0;
        display: flex;
        color: black;
        background: #efefef;
        border-radius: var(--borderRad);
        padding: 3px 0px 7px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 6px solid #ffcd00;

        dt {
            width: auto;
        }

        dd.tag-source {
            margin: 0;
        }

        .dummy {
            padding: 0;

            li {
                margin-left: 10px; 
            }
        }
    }

    .prettyprint {
        padding: 2em 2rem 2em 4rem;

        code {
            counter-reset: section;
            position: relative;
    
            span.line-counter:before {
                counter-increment: section;
                content: counters(section, ".") ". ";
                position: absolute;
                display: block;
                left: -3rem;
                opacity: 0.4;
            }
    
            span.line-counter-after:after {
                counter-increment: section;
                content: counters(section, ".") ". ";
                position: absolute;
                left: -3rem;
                opacity: 0.4;
            }
        }
    }
}

// https://www.joshwcomeau.com/css/designing-shadows/#programmatic-tools-7
// https://neumorphism.io/
// https://shadows.brumm.af/