:root {

    --MainBG: #1f9aff;
    --MainBGGrad: linear-gradient(
        315deg,
        #1f9aff 0%,
        #2d72fd
    );
    --cardBG: #101519;
    --shadow-color: 210deg 96% 31%;
    --shadow-elevation-low:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.34),
      0.8px 0.8px 1.3px -1.2px hsl(var(--shadow-color) / 0.34),
      2px 1.9px 3.1px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.36),
      1.7px 1.6px 2.6px -0.8px hsl(var(--shadow-color) / 0.36),
      4.1px 4px 6.4px -1.7px hsl(var(--shadow-color) / 0.36),
      10.1px 9.7px 15.8px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.34),
      2.9px 2.8px 4.5px -0.4px hsl(var(--shadow-color) / 0.34),
      5.5px 5.3px 8.6px -0.7px hsl(var(--shadow-color) / 0.34),
      9px 8.7px 14.1px -1.1px hsl(var(--shadow-color) / 0.34),
      14.4px 13.8px 22.4px -1.4px hsl(var(--shadow-color) / 0.34),
      22.6px 21.6px 35.2px -1.8px hsl(var(--shadow-color) / 0.34),
      34.3px 32.9px 53.5px -2.1px hsl(var(--shadow-color) / 0.34),
      50.5px 48.4px 78.7px -2.5px hsl(var(--shadow-color) / 0.34);

    --cardColor: #ffffff;
}

html {
    background: var(--MainBG);
}

body {
    margin: 0;
    background-color: unset;
    // background: var(--MainBGGrad);
    color: var(--cardColor);
}

.nav-header {
    padding-left: 0;

    h1 {
        margin-left: 0;
    }
}

article {
    h2, h3.subsection-title {
        font-size: 2.3rem;
        background-color: #c2e4ff;
        margin-bottom: 0;
        padding: 0.2rem 1rem;
    
        + .name {
            margin-top: 0rem;
        }
    }

    pre.prettyprint {
        background: #efefef;;
        padding: 3em 3rem;
        border-radius: 5px;
    }
    
    h4.name {
        font-size: 1.8rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 40%;
            height: 4px;
            background: #ffc800;
            left: 0;
            bottom: -1rem;
        }
    }
}

*:empty() {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

.definition {
    .details {
        margin: 0;
        display: flex;
        color: black;
        background: #efefef;
        border-radius: 5px;
        padding: 3px 0px 7px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 6px solid #ffcd00;

        dt {
            width: auto;
        }

        dd.tag-source {
            margin: 0;
        }

        .dummy {
            padding: 0;

            li {
                margin-left: 10px; 
            }
        }
    }

    .prettyprint {
        padding: 2em 2rem 2em 4rem;

        code {
            counter-reset: section;
            position: relative;
    
            span.line-counter:before {
                counter-increment: section;
                content: counters(section, ".") ". ";
                position: absolute;
                display: block;
                left: -3rem;
                opacity: 0.4;
            }
    
            span.line-counter-after:after {
                counter-increment: section;
                content: counters(section, ".") ". ";
                position: absolute;
                left: -3rem;
                opacity: 0.4;
            }
        }
    }
}

// https://www.joshwcomeau.com/css/designing-shadows/#programmatic-tools-7
// https://neumorphism.io/
// https://shadows.brumm.af/